<div class="quiz-container">
  <!-- <h1><%=@topic%></h1> -->
  <h1>Score: <%=@player.score%> out of <%=@player.counter%> </h1>

  <%if @question.topic == 'first_name'%>
    <h2><%= @question.prompt()%> <%=@user_1.first_name()%>?</h2>
  <%elsif @question.topic == 'track'%>
    <h2><%= @question.prompt()%> <%=@user_1.track()%>?</h2>
  <%else%>
    <h2><%= @question.prompt()%></h2>
  <%end%>

<%if @rand_num.even? %>

  <div class="quiz-pictures">
    <div class="picture">
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="0">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
    </div>
    <div class="picture">
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="1">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
    </div>
  </div>

<% else %>

  <div class="quiz-pictures">
    <div class="picture">
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="1">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
    </div>
    <div class="picture">
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="0">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
    </div>
  </div>

<% end %>

<div class="burger">
  <div class="burger-layers">
    <img src="/img/burger.png" alt="burger... possibly vegan"/>
  </div>
  <div class="burger-bite1"></div>
  <div class="burger-bite2"></div>
  <div class="burger-bite3"></div>
  <div class="burger-bite4"></div>
  <div class="burger-bite5"></div>
  <div class="burger-bite6"></div>
</div>
</div>
