<div class="quiz-container">
  <h1><%=@topic%></h1>

  <%if @question.topic == 'first_name'%>
    <h2><%= @question.prompt()%> <%=@user_1.first_name()%>?</h2>
  <%elsif @question.topic == 'track'%>
    <h2><%= @question.prompt()%> <%=@user_1.track()%>?</h2>
  <%else%>
    <h2><%= @question.prompt()%></h2>
  <%end%>


<%if @rand_num.even? %>

  <div class="quiz-pictures">
    <div class="picture">
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="-2">
        <button type="submit" name="button">This Human</button>
      </form>
    </div>
    <div class="picture">
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="+2">
        <button type="submit" name="button">This Human</button>
      </form>
    </div>
  </div>


<% else %>


  <div class="quiz-pictures">
    <div class="picture">
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="+2">
        <button type="submit" name="button">This Human</button>
      </form>
    </div>
    <div class="picture">
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="-2">
        <button type="submit" name="button">This Human</button>
      </form>
    </div>
  </div>

<% end %>

<h1>score <%=@player.score%></h1>
<div class="toilet">
  <div class="toilet-bowl">
    <img src="/img/toilet-bowl.png" alt="toilet bowl"/>
  </div>
  <div class="toilet-flush">
    <img src="/img/toilet-flusher.png" alt="toilet flusher"/>
  </div>
</div>
</div>
