<div class="quiz-container">
  <!-- <h1><%=@topic%></h1> -->

  <h1>Score: <%=@player.score%> out of <%=@player.counter%> </h1>

  <%if @question.topic == 'first_name'%>
    <h2><%= @question.prompt()%> <%=@user_1.first_name()%>?</h2>
  <%elsif @question.topic == 'track'%>
    <h2><%= @question.prompt()%> <%=@user_1.track()%>?</h2>
  <%else%>
    <h2><%= @question.prompt()%></h2>
  <%end%>


<%if @rand_num.even? %>

  <div class="quiz-pictures">
    <div class="picture">
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="0">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
    </div>
    <div class="picture">
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="1">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
    </div>
  </div>

<% else %>

  <div class="quiz-pictures">
    <div class="picture">
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="1">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
    </div>
    <div class="picture">
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="0">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
    </div>
  </div>

<% end %>

<div class="pokemon">
  <div class="pokemon-roll">
    <div class="pokemon-ball">
      <img id="pokemon-ball-red" src="/img/pokemon-ball-red-center.png" alt="pokemon red ball dot" />
      <img id="pokemon-ball" src="/img/pokemon-ball-white.png" alt="pokemon ball" />
    </div>
    <div class="pokemon-character">
      <img id="pokemon-character" src="/img/pokemon-character-without-tail.png" alt="pokemon character (without tail)" />
      <img id="pokemon-character-tail" src="/img/pokemon-character-tail.png" alt="pokemon character tail" />
    </div>
  </div>
</div>
</div>

<!-- </div> -->
