<div class="quiz-container">
  <!-- <h1><%=@topic%></h1> -->

  <%if @question.topic == 'first_name'%>
    <h2><%= @question.prompt()%> <%=@user_1.first_name()%>?</h2>
  <%elsif @question.topic == 'track'%>
    <h2><%= @question.prompt()%> <%=@user_1.track()%>?</h2>
  <%else%>
    <h2><%= @question.prompt()%></h2>
  <%end%>


<%if @rand_num.even? %>

  <div class="quiz-pictures">
    <div class="picture">
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="0">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
    </div>
    <div class="picture">
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="1">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
    </div>
  </div>


<% else %>


  <div class="quiz-pictures">
    <div class="picture">
      <img src="<%=@user_1.photo()%>" alt="picture of user" />
      <form class="correct" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="1">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
    </div>
    <div class="picture">
      <img src="<%=@user_2.photo()%>" alt="picture of user" />
      <form class="wrong" action="/player/<%=@player.id%>" method="post">
        <input type="hidden" name="last_question" value="<%=@question.id%>">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="answer" value="0">
        <button class="this-human" type="submit" name="button">This Human</button>
      </form>
    </div>
  </div>

<% end %>

<h1>Score: <%=@player.score%> out of <%=@player.counter%> </h1>

<div class="thermometer">
  <div class="thermometer-base">
    <img src="/img/temperature-thermometer-base.png" alt="Thermometer class" />
  </div>
  <div class="temp1">
    <img src="/img/temperature-thermometer-high-temp.png" alt="Temperature level high" />
  </div>
  <div class="temp2">
    <img src="/img/temperature-thermometer-low-temp.png" alt="Temperature level low" />
  </div>
  <div class="thermometer-lines">
    <img src="/img/temperature-thermometer-lines.png" alt="Thermometer lines" />
  </div>
</div>
</div>

<!-- </div> -->
